.col--6
  label(for='exampleEmailInput') Your email
  input#exampleEmailInput.u-full-width(type='email', placeholder='test@mailbox.com') 
  ul.list
    li alexey.khabarov@mail.ru
    li test@mydomain.ru
    li example@example.com
    li ...
    li ...
