form.email-helper(autocomplete='off')
  fieldset
    .email-helper__email
    .email-helper__list
      ul
        li 
          a(href="#") alexey.khabarov@mail.ru
        li 
          a(href="#") example@example.com
